.elementor-111 .elementor-element.elementor-element-37ef3379,
.elementor-111
  .elementor-element.elementor-element-37ef3379
  > .elementor-background-overlay {
  border-radius: 15px 15px 15px 15px;
}
.elementor-111 .elementor-element.elementor-element-37ef3379 {
  padding: 25px 0px 25px 0px;
}
.elementor-bc-flex-widget
  .elementor-111
  .elementor-element.elementor-element-a1aaab6.elementor-column
  .elementor-widget-wrap {
  align-items: space-between;
}
.elementor-111
  .elementor-element.elementor-element-a1aaab6.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: space-between;
  align-items: space-between;
}
.elementor-111
  .elementor-element.elementor-element-a1aaab6.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-111
  .elementor-element.elementor-element-a1aaab6:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-111
  .elementor-element.elementor-element-a1aaab6
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #121212;
}
.elementor-111
  .elementor-element.elementor-element-a1aaab6
  > .elementor-element-populated {
  border-style: solid;
  border-color: #ffffff1a;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-a1aaab6
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-111 .elementor-element.elementor-element-4b7374a2 {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-111
  .elementor-element.elementor-element-32776d56.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-111
  .elementor-element.elementor-element-32776d56.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-111
  .elementor-element.elementor-element-32776d56.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-111
  .elementor-element.elementor-element-32776d56:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-111
  .elementor-element.elementor-element-32776d56
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #121212;
}
.elementor-111
  .elementor-element.elementor-element-32776d56
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff1a;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 25px 0px 25px 0px;
}
.elementor-111
  .elementor-element.elementor-element-32776d56
  > .elementor-element-populated,
.elementor-111
  .elementor-element.elementor-element-32776d56
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-111
  .elementor-element.elementor-element-32776d56
  > .elementor-background-slideshow {
  border-radius: 15px 15px 15px 15px;
}
.elementor-111
  .elementor-element.elementor-element-32776d56
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #00000000;
  border-color: #e8e8e8;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-ae88eac {
  text-align: center;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button-icon {
  font-size: 18px;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button-text,
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button::after {
  font-family: "Bricolage Grotesque", Sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  [class*="elementor-animation"]:hover,
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button::before,
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button::after {
  background-color: #4a45d200;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac
  .wpr-button:hover
  .wpr-button-text {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button:hover {
  border-color: #e8e8e8;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-style-inline
  .wpr-button {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-ae88eac.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 0px 0px 0px 0px;
}
.elementor-111 .elementor-element.elementor-element-2ea668ed .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #00000000;
  border-color: #e8e8e8;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-2ea668ed {
  text-align: center;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-111 .elementor-element.elementor-element-2ea668ed .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-2ea668ed .wpr-button-icon {
  font-size: 18px;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-2ea668ed .wpr-button-text,
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button::after {
  font-family: "Bricolage Grotesque", Sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  [class*="elementor-animation"]:hover,
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button::before,
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button::after {
  background-color: #4a45d200;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed
  .wpr-button:hover
  .wpr-button-text {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-2ea668ed .wpr-button:hover {
  border-color: #e8e8e8;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-style-inline
  .wpr-button {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-2ea668ed.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 0px 0px 0px 0px;
}
.elementor-111 .elementor-element.elementor-element-10fa1aa3 .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #00000000;
  border-color: #e8e8e8;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-10fa1aa3 {
  text-align: center;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-111 .elementor-element.elementor-element-10fa1aa3 .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-10fa1aa3 .wpr-button-icon {
  font-size: 18px;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-10fa1aa3 .wpr-button-text,
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button::after {
  font-family: "Bricolage Grotesque", Sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  [class*="elementor-animation"]:hover,
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button::before,
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button::after {
  background-color: #4a45d200;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3
  .wpr-button:hover
  .wpr-button-text {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-10fa1aa3 .wpr-button:hover {
  border-color: #e8e8e8;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-style-inline
  .wpr-button {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-10fa1aa3.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 0px 0px 0px 0px;
}
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #00000000;
  border-color: #e8e8e8;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-7278ce8 {
  text-align: center;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button-icon {
  font-size: 18px;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button-text,
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button::after {
  font-family: "Bricolage Grotesque", Sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  [class*="elementor-animation"]:hover,
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button::before,
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button::after {
  background-color: #4a45d200;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8
  .wpr-button:hover
  .wpr-button-text {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button:hover {
  border-color: #e8e8e8;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-style-inline
  .wpr-button {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-7278ce8.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 0px 0px 0px 0px;
}
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #00000000;
  border-color: #e8e8e8;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-5ef8f00 {
  text-align: center;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button-icon {
  font-size: 18px;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button-text,
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button::after {
  font-family: "Bricolage Grotesque", Sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  [class*="elementor-animation"]:hover,
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button::before,
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button::after {
  background-color: #4a45d200;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00
  .wpr-button:hover
  .wpr-button-text {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button:hover {
  border-color: #e8e8e8;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-style-inline
  .wpr-button {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-5ef8f00.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 0px 0px 0px 0px;
}
.elementor-111 .elementor-element.elementor-element-6c4750d8 .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #00000000;
  border-color: #e8e8e8;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-6c4750d8 {
  text-align: center;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-111 .elementor-element.elementor-element-6c4750d8 .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-6c4750d8 .wpr-button-icon {
  font-size: 18px;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-6c4750d8 .wpr-button-text,
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button::after {
  font-family: "Bricolage Grotesque", Sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  [class*="elementor-animation"]:hover,
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button::before,
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button::after {
  background-color: #4a45d200;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8
  .wpr-button:hover
  .wpr-button-text {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-6c4750d8 .wpr-button:hover {
  border-color: #e8e8e8;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-style-inline
  .wpr-button {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-6c4750d8.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 0px 0px 0px 0px;
}
.elementor-111 .elementor-element.elementor-element-df10d0e {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-111
  .elementor-element.elementor-element-758b1bab.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-111
  .elementor-element.elementor-element-758b1bab.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-111
  .elementor-element.elementor-element-758b1bab.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-111
  .elementor-element.elementor-element-758b1bab:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-111
  .elementor-element.elementor-element-758b1bab
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #121212;
}
.elementor-111
  .elementor-element.elementor-element-758b1bab
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff1a;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 25px 0px 25px 0px;
}
.elementor-111
  .elementor-element.elementor-element-758b1bab
  > .elementor-element-populated,
.elementor-111
  .elementor-element.elementor-element-758b1bab
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-111
  .elementor-element.elementor-element-758b1bab
  > .elementor-background-slideshow {
  border-radius: 15px 15px 15px 15px;
}
.elementor-111
  .elementor-element.elementor-element-758b1bab
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-111 .elementor-element.elementor-element-21aa0564 {
  background-color: #ffffff33;
}
.elementor-111 .elementor-element.elementor-element-758d4010 {
  background-color: #ffffff33;
}
.elementor-111 .elementor-element.elementor-element-3a90965a {
  padding: 0px 0px 0px 0px;
}
.elementor-111
  .elementor-element.elementor-element-354917ef.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-111
  .elementor-element.elementor-element-354917ef:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-111
  .elementor-element.elementor-element-354917ef
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #121212;
}
.elementor-111
  .elementor-element.elementor-element-354917ef
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff1a;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 25px 0px 25px 0px;
}
.elementor-111
  .elementor-element.elementor-element-354917ef
  > .elementor-element-populated,
.elementor-111
  .elementor-element.elementor-element-354917ef
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-111
  .elementor-element.elementor-element-354917ef
  > .elementor-background-slideshow {
  border-radius: 15px 15px 15px 15px;
}
.elementor-111
  .elementor-element.elementor-element-354917ef
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-111 .elementor-element.elementor-element-210d70f1 .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #ba2814;
  border-color: #ffffff82;
  border-style: none;
  border-radius: 300px 300px 300px 300px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #ffffff;
  padding: 5px 5px 5px 5px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-210d70f1 {
  text-align: center;
  margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 8px 8px 8px 8px;
  width: var(--container-widget-width, 200px);
  max-width: 200px;
  --container-widget-width: 200px;
  --container-widget-flex-grow: 0;
  border-style: none;
  border-radius: 300px 300px 300px 300px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-111 .elementor-element.elementor-element-210d70f1 .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-210d70f1 .wpr-button-icon {
  font-size: 18px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-210d70f1 .wpr-button-text,
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button::after {
  font-family: "Bricolage Grotesque", Sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  [class*="elementor-animation"]:hover,
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button::before,
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button::after {
  background-color: #811c0e;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1
  .wpr-button:hover
  .wpr-button-text {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-210d70f1 .wpr-button:hover {
  border-color: #00ffff82;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-inline
  .wpr-button {
  padding: 5px 5px 5px 5px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 5px 5px 5px 5px;
}
.elementor-111
  .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 5px 5px 5px 5px;
}
.elementor-111 .elementor-element.elementor-element-14c6014f .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #ba2814;
  border-color: #ffffff82;
  border-style: none;
  border-radius: 300px 300px 300px 300px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #ffffff;
  padding: 5px 5px 5px 5px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-111 .elementor-element.elementor-element-14c6014f {
  text-align: center;
  margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 8px 8px 8px 8px;
  width: var(--container-widget-width, 200px);
  max-width: 200px;
  --container-widget-width: 200px;
  --container-widget-flex-grow: 0;
  border-style: none;
  border-radius: 300px 300px 300px 300px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-111 .elementor-element.elementor-element-14c6014f .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-14c6014f .wpr-button-icon {
  font-size: 18px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-14c6014f .wpr-button-text,
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button::after {
  font-family: "Bricolage Grotesque", Sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  [class*="elementor-animation"]:hover,
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button::before,
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button::after {
  background-color: #811c0e;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f
  .wpr-button:hover
  .wpr-button-text {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #ffffff;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #ffffff;
}
.elementor-111 .elementor-element.elementor-element-14c6014f .wpr-button:hover {
  border-color: #00ffff82;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-inline
  .wpr-button {
  padding: 5px 5px 5px 5px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 5px 5px 5px 5px;
}
.elementor-111
  .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 5px 5px 5px 5px;
}
@media (max-width: 767px) {
  .elementor-111
    .elementor-element.elementor-element-a1aaab6
    > .elementor-element-populated {
    border-width: 1px 1px 1px 1px;
  }
  .elementor-111
    .elementor-element.elementor-element-a1aaab6
    > .elementor-element-populated,
  .elementor-111
    .elementor-element.elementor-element-a1aaab6
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-111
    .elementor-element.elementor-element-a1aaab6
    > .elementor-background-slideshow {
    border-radius: 15px 0px 0px 15px;
  }
  .elementor-111
    .elementor-element.elementor-element-32776d56.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-111
    .elementor-element.elementor-element-32776d56
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    --kit-widget-spacing: 10px;
  }
  .elementor-111
    .elementor-element.elementor-element-32776d56
    > .elementor-element-populated {
    border-width: 1px 1px 1px 1px;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
    padding: 25px 25px 25px 25px;
  }
  .elementor-111
    .elementor-element.elementor-element-32776d56
    > .elementor-element-populated,
  .elementor-111
    .elementor-element.elementor-element-32776d56
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-111
    .elementor-element.elementor-element-32776d56
    > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
  }
  .elementor-111 .elementor-element.elementor-element-ae88eac {
    text-align: left;
  }
  .elementor-111
    .elementor-element.elementor-element-ae88eac
    .wpr-button-content {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button-text {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-ae88eac .wpr-button-text,
  .elementor-111
    .elementor-element.elementor-element-ae88eac
    .wpr-button::after {
    font-size: 20px;
  }
  .elementor-111 .elementor-element.elementor-element-2ea668ed {
    text-align: left;
  }
  .elementor-111
    .elementor-element.elementor-element-2ea668ed
    .wpr-button-content {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111
    .elementor-element.elementor-element-2ea668ed
    .wpr-button-text {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-2ea668ed .wpr-button-text,
  .elementor-111
    .elementor-element.elementor-element-2ea668ed
    .wpr-button::after {
    font-size: 20px;
  }
  .elementor-111 .elementor-element.elementor-element-10fa1aa3 {
    text-align: left;
  }
  .elementor-111
    .elementor-element.elementor-element-10fa1aa3
    .wpr-button-content {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111
    .elementor-element.elementor-element-10fa1aa3
    .wpr-button-text {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-10fa1aa3 .wpr-button-text,
  .elementor-111
    .elementor-element.elementor-element-10fa1aa3
    .wpr-button::after {
    font-size: 20px;
  }
  .elementor-111 .elementor-element.elementor-element-7278ce8 {
    text-align: left;
  }
  .elementor-111
    .elementor-element.elementor-element-7278ce8
    .wpr-button-content {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button-text {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-7278ce8 .wpr-button-text,
  .elementor-111
    .elementor-element.elementor-element-7278ce8
    .wpr-button::after {
    font-size: 20px;
  }
  .elementor-111 .elementor-element.elementor-element-5ef8f00 {
    text-align: left;
  }
  .elementor-111
    .elementor-element.elementor-element-5ef8f00
    .wpr-button-content {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button-text {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-5ef8f00 .wpr-button-text,
  .elementor-111
    .elementor-element.elementor-element-5ef8f00
    .wpr-button::after {
    font-size: 20px;
  }
  .elementor-111 .elementor-element.elementor-element-6c4750d8 {
    text-align: left;
  }
  .elementor-111
    .elementor-element.elementor-element-6c4750d8
    .wpr-button-content {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111
    .elementor-element.elementor-element-6c4750d8
    .wpr-button-text {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .elementor-111 .elementor-element.elementor-element-6c4750d8 .wpr-button-text,
  .elementor-111
    .elementor-element.elementor-element-6c4750d8
    .wpr-button::after {
    font-size: 20px;
  }
  .elementor-111
    .elementor-element.elementor-element-758b1bab.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-111
    .elementor-element.elementor-element-758b1bab
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    --kit-widget-spacing: 10px;
  }
  .elementor-111
    .elementor-element.elementor-element-758b1bab
    > .elementor-element-populated {
    border-width: 1px 1px 1px 1px;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
    padding: 5px 5px 5px 5px;
  }
  .elementor-111
    .elementor-element.elementor-element-758b1bab
    > .elementor-element-populated,
  .elementor-111
    .elementor-element.elementor-element-758b1bab
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-111
    .elementor-element.elementor-element-758b1bab
    > .elementor-background-slideshow {
    border-radius: 300px 300px 300px 300px;
  }
  .elementor-111 .elementor-element.elementor-element-21aa0564 {
    text-align: center;
    margin: 5px 5px calc(var(--kit-widget-spacing, 0px) + -5px) 5px;
    padding: 6px 0px 6px 0px;
    width: var(--container-widget-width, 45%);
    max-width: 45%;
    --container-widget-width: 45%;
    --container-widget-flex-grow: 0;
    border-radius: 300px 300px 300px 300px;
  }
  .elementor-111 .elementor-element.elementor-element-21aa0564 img {
    width: 15%;
  }
  .elementor-111
    .elementor-element.elementor-element-21aa0564.elementor-element {
    --align-self: center;
  }
  .elementor-111 .elementor-element.elementor-element-758d4010 {
    text-align: center;
    margin: 5px 5px calc(var(--kit-widget-spacing, 0px) + 5px) 5px;
    padding: 5px 0px 5px 0px;
    width: var(--container-widget-width, 45%);
    max-width: 45%;
    --container-widget-width: 45%;
    --container-widget-flex-grow: 0;
    border-radius: 300px 300px 300px 300px;
  }
  .elementor-111 .elementor-element.elementor-element-758d4010 img {
    width: 15%;
  }
  .elementor-111
    .elementor-element.elementor-element-758d4010.elementor-element {
    --align-self: center;
  }
  .elementor-111
    .elementor-element.elementor-element-354917ef.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-111
    .elementor-element.elementor-element-354917ef
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    --kit-widget-spacing: 10px;
  }
  .elementor-111
    .elementor-element.elementor-element-354917ef
    > .elementor-element-populated {
    border-width: 1px 1px 1px 1px;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
    padding: 5px 5px 5px 5px;
  }
  .elementor-111
    .elementor-element.elementor-element-354917ef
    > .elementor-element-populated,
  .elementor-111
    .elementor-element.elementor-element-354917ef
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-111
    .elementor-element.elementor-element-354917ef
    > .elementor-background-slideshow {
    border-radius: 300px 300px 300px 300px;
  }
  .elementor-111 .elementor-element.elementor-element-210d70f1 .wpr-button-text,
  .elementor-111
    .elementor-element.elementor-element-210d70f1
    .wpr-button::after {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .elementor-111
    .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-inline
    .wpr-button {
    padding: 5px 5px 5px 5px;
  }
  .elementor-111
    .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-block
    .wpr-button-text {
    padding: 5px 5px 5px 5px;
  }
  .elementor-111
    .elementor-element.elementor-element-210d70f1.wpr-button-icon-style-inline-block
    .wpr-button-content {
    padding: 5px 5px 5px 5px;
  }
  .elementor-111
    .elementor-element.elementor-element-210d70f1
    .wpr-button::after {
    padding: 5px 5px 5px 5px;
  }
  .elementor-111 .elementor-element.elementor-element-210d70f1 .wpr-button {
    border-radius: 300px 300px 300px 300px;
  }
  .elementor-111 .elementor-element.elementor-element-210d70f1 {
    margin: 5px 5px calc(var(--kit-widget-spacing, 0px) + -15px) 5px;
    padding: 0px 0px 0px 0px;
    --container-widget-width: 45%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 45%);
    max-width: 45%;
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-111 .elementor-element.elementor-element-14c6014f .wpr-button-text,
  .elementor-111
    .elementor-element.elementor-element-14c6014f
    .wpr-button::after {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .elementor-111
    .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-inline
    .wpr-button {
    padding: 5px 5px 5px 5px;
  }
  .elementor-111
    .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-block
    .wpr-button-text {
    padding: 5px 5px 5px 5px;
  }
  .elementor-111
    .elementor-element.elementor-element-14c6014f.wpr-button-icon-style-inline-block
    .wpr-button-content {
    padding: 5px 5px 5px 5px;
  }
  .elementor-111
    .elementor-element.elementor-element-14c6014f
    .wpr-button::after {
    padding: 5px 5px 5px 5px;
  }
  .elementor-111 .elementor-element.elementor-element-14c6014f .wpr-button {
    border-radius: 300px 300px 300px 300px;
  }
  .elementor-111 .elementor-element.elementor-element-14c6014f {
    margin: 5px 5px calc(var(--kit-widget-spacing, 0px) + -15px) 5px;
    padding: 0px 0px 0px 0px;
    --container-widget-width: 45%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 45%);
    max-width: 45%;
    border-radius: 0px 0px 0px 0px;
  }
} /* Start custom CSS for wpr-button, class: .elementor-element-ae88eac */
@keyframes glitch {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f0f;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f0f;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f0f;
  }
} /* <-- chave fechada */
.glitch {
  position: relative;
  color: white;
  text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  animation: glitch 1s infinite; /* 5s é muito longo, pode travar */
  will-change: text-shadow;
} /* End custom CSS */
/* Start custom CSS for wpr-button, class: .elementor-element-2ea668ed */
@keyframes glitch {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f0f;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f0f;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f0f;
  }
} /* <-- chave fechada */
.glitch {
  position: relative;
  color: white;
  text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  animation: glitch 1s infinite; /* 5s é muito longo, pode travar */
  will-change: text-shadow;
} /* End custom CSS */
/* Start custom CSS for wpr-button, class: .elementor-element-10fa1aa3 */
@keyframes glitch {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f0f;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f0f;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f0f;
  }
} /* <-- chave fechada */
.glitch {
  position: relative;
  color: white;
  text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  animation: glitch 1s infinite; /* 5s é muito longo, pode travar */
  will-change: text-shadow;
} /* End custom CSS */
/* Start custom CSS for wpr-button, class: .elementor-element-7278ce8 */
@keyframes glitch {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f0f;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f0f;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f0f;
  }
} /* <-- chave fechada */
.glitch {
  position: relative;
  color: white;
  text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  animation: glitch 1s infinite; /* 5s é muito longo, pode travar */
  will-change: text-shadow;
} /* End custom CSS */
/* Start custom CSS for wpr-button, class: .elementor-element-5ef8f00 */
@keyframes glitch {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f0f;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f0f;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f0f;
  }
} /* <-- chave fechada */
.glitch {
  position: relative;
  color: white;
  text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  animation: glitch 1s infinite; /* 5s é muito longo, pode travar */
  will-change: text-shadow;
} /* End custom CSS */
/* Start custom CSS for wpr-button, class: .elementor-element-6c4750d8 */
@keyframes glitch {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f0f;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f0f;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f0f;
  }
} /* <-- chave fechada */
.glitch {
  position: relative;
  color: white;
  text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f0f;
  animation: glitch 1s infinite; /* 5s é muito longo, pode travar */
  will-change: text-shadow;
} /* End custom CSS */
